.search-form {
  .search-dropdown {
    position: absolute;
    top: 55px;
    right: 12px;
    left: 12px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
  }

  .header-text {
    font-size: clamp(2vw, 2.5rem, 100%);
    font-weight: 700;
  }

  .header-text.dark {
    color: #fff;
    text-shadow: 3px -1px 14px rgb(255 255 255 / 60%);
  }

  .header-text.light {
    color: rgb(23 99 161);
    text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
  }

  .wrapper {
    position: relative;
    inset: 0;
    z-index: 1;
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;

    .img {
      position: relative;
      width: clamp(9vw, 60vh, 90vw);
      height: clamp(9vw, 60vh, 90vw);
      cursor: pointer;
      opacity: 0.6;
    }

    .img img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 5px 8px rgb(255 255 255 / 5%);
      opacity: 0.6;
      transition: 0.5s ease-in-out;
    }

    .img img:nth-child(2) {
      z-index: -1;
      opacity: 0.25;
      filter: blur(6px);
      transform: scale(1.15);
    }

    .img:hover img:nth-child(2) {
      filter: blur(4px);
      transform: scale(1.1);
    }
  }
}

.v-theme--dark.v-card,
.v-theme--dark.v-list {
  color: rgb(255 255 255);
  background-color: rgba(30, 30, 30, 0.3) !important;
}

.v-theme--light.v-card,
.v-theme--light.v-list {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(255, 255, 255, 0.3) !important;
}
